<?xml version="1.0" encoding="utf-8" ?>
<PropertySettings xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  <infopages>
    
    <page id="1" name="SupplierPage" type="SSIT.QualityManage.Settings.SupplierPage, SSIT.QualityManage ,Version=1.0, Culture=neutral, PublicKeyToken=null" />
    <page id="1" name="SupAndMMRelationPage" type="SSIT.QualityManage.Settings.SupAndMMRelationPage, SSIT.QualityManage ,Version=1.0, Culture=neutral, PublicKeyToken=null" />
  </infopages>
</PropertySettings>
